* {
    margin: 0;
    padding: 0;
    scrollbar-width: 0px;
}

*::-webkit-scrollbar {
    width: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

li {
    display: inline-block;
}

.content_container {
    background: #090909;
    min-height: 100vh;
}

.main {
    padding-bottom: 50px;
}

.title {
    text-align: center;
    font-size: 5em;
    margin-bottom: 50px;
    padding-top: 50px;
    color: aliceblue;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 50px;
    justify-content: center;
}

.card {
    flex-grow: 1;
    flex-basis: 25%;
    transition: transform 0.3s !important;

    &:hover {
        transform: scale(1.04);
    }

    &>* {
        background: #534f4f;
    }

    &__view,
    &__view img {
        width: 100%;
        height: 100%;
    }
}

.name_container {
    margin-top: 10px;
}

.name {
    text-align: center;
    color: rgb(218, 229, 229);
    max-width: 90%;
}

.characters {
    margin-bottom: 15px;

    &>p {
        margin-left: 15px;
        font-size: 1.2em;
        color: rgb(197, 222, 222);
        max-width: 90%;
    }
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 20px;

    &__prev {
        &::before {
            content: '<<<';
        }

    }

    &__next {
        &::after {
            content: '>>>';
        }
    }

    &__prev:hover,
    &__next:hover {
        cursor: pointer;
    }
}