<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTES</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header></header>
    <main>
        <div class="container">
            <div class="top">
                <div class="title_box">
                    <a class="title flicker-in-2" href="index.html">NOTES</a>
                </div>
                <div class="buttons_box">
                    <a class="button new roll-in-right" href="note.html">New</a>
                    <button class="button delete roll-in-right" id="delete">Delete</button>
                </div>
            </div>
            <table class="table slide-in-blurred-top">
                <thead>
                    <tr>
                        <th class="column_head"></th>
                        <th class="column_head">CREATION</th>
                        <th class="column_head">TITLE</th>
                        <th class="column_head">BODY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="note_row">
                        <td class="column">
                            <input type="checkbox" name="id" id="id" class="checkbox">
                            <label for="id"></label>
                        </td>
                        <td class="column">12/12/12</td>
                        <td class="column">Test</td>
                        <td class="column">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus,
                            reiciendis.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer></footer>

    <script src="../static/js/script1.js"></script>
</body>

</html>