<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="content_container">
        <header>
            <h1 class="title">The Rick and Morty Characters</h1>
        </header>
        <main class="main">
            <div class="profile">
                <section class="profile__top">

                </section>
                <section class="profile__bottom">
                    
                </section>
            </div>
        </main>
        <footer></footer>
    </div>
</body>

</html>