<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Confirm Page</title>
</head>

<body>
    <header>
        <h3 class="header">ПАО "Спёрбанк"</h3>
    </header>
    <main class="container">
        <div class="block">
            <form th:action="${action}" method="post" class="form">
                <div class="attributes">
                    <h4 class="title">Подтвердить платёж в размере:</h4>
                    <b class="sum"><span th:text="${amount}">50</span> рублей</b>
                </div>
                <button type="submit" class="confirm_button">Подтвердить</button>
            </form>
        </div>
    </main>
</body>

</html>